*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Times New Roman", sans-serif, Serif;
}
body {
    margin: 0px;
    padding: 6px;
}

#D {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    height: 1cm;
}

img > col-md-3
{
    
}

.col-8{
    height: 3cm;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
img{
    margin: 0;
    height:auto;
    width:auto;
    border-radius: 50%;
}
#A{
    height: 5cm;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
.col-1{
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}
#B, #C{
    font-weight: bold;
}

#C{
    text-align: right;
}

